@{
    ViewData["Title"] = "Dashboard";
}

<div>
    <h1 class="display-4">Dashboard</h1>
    <h2>Welcome, @ViewData["Email"].</h2>
    <br />
    <p>Id: @ViewData["Id"]</p>
    <p>Email: @ViewData["Email"]</p>
</div>
